%h1 
  Our stories don't need to be <span class="highlight">complex</span>,
  %br 
  they need to be <span class="highlight">clear</span>.
  %h3.action= link_to "Share your story", new_story_path, class: "button"