%p#notice= notice

%h2.intro Hello, my name is <span class="highlight">___________</span> and this is my story...
%p.story_content= @story.content
%h2.ending The End.

= link_to 'Back', stories_path, class: 'button'
